table{
    border:5px solid gray ;
    border-radius: 3%;
    background-color: lightgray;
    font-size: larger;
    margin-left:auto;
    margin-right: auto;
    padding: 0.5%;
    
    
}


#tarea{
    height: 300px;
    width: 400px;
}
#addbtn{
    
    margin-left:auto;
    margin-right: auto;
    display: block;
    font-size: large;
}
#addblog{
    

}
#title{
    width: 400px;
}
#posttitle{
    font-weight: bold;
    font-size: large;
    text-align: center;
    margin-top: 10px;
    display: block;
}
#postdescription{
    font-size: medium;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    display: block;
    margin-top: 10px;
    
    

}
#post{
    background-color: lightgray;
    border:5px solid gray ;
    border-radius: 2%;
    min-height: 200px;
    width:530px;
    display: inline-flexbox;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
}
#dltblog{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    font-size: large;
}
body{
    background-color: lavender;
}